* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 0%;
}
p {
  margin: 0;
  padding: 0;
}

.link-item {
  all: unset;
  height: 320px;
  width: 280px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
@media (max-width: 784px) {
  .link-item {
    height: 320px;
    width: 190px;
  }
}
@media (max-width: 576px) {
  .link-item {
    height: 285px;
    width: 190px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
